<ul class="breadcrumb">
    <i class="fa fa-home"></i>
    <li ng-repeat="b in breadcrumbs">
        <a ng-click="setBreadcrumbs(b)"><span>{{b.label}}</span></a>
    </li>
</ul>

<div class="row">



    <form class="form-inline">
        <div class="form-group">
            <label for="">參數類別</label>
            <select class="form-control" ng-model="option.fieldName" ng-options="option as option for option in option.select"
                    ng-change="chang(option.fieldName)" style="width:200px"></select>
        </div>

        <input type="button" class="btn btn-primary" ng-click="setOption(0)" value="新增" />
    </form>


    <div class="col-lg-8">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th class="col-lg-1">參數序號</th>
                    <th class="col-lg-3">參數名稱</th>
                    <th class="col-lg-1">維護</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in optionSets">
                    <td class="col-lg-1">{{o.optionNo}}</td>
                    <td class="col-lg-3">{{o.optionName}}</td>
                    <td class="col-lg-1">
                        <a class="fa fa-cog" ng-click="update(o)"></a>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <form class="form-inline col-lg-4" ng-show="option.currentView == 'insert'" data-toggle="validator" role="form">
        <div class="form-group">
            <label>參數名稱</label>
            <input type="text" class="form-control" ng-model="option.optionName">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save()">存檔</button>
        <button type="submit" class="btn btn-warning" ng-click="cancel()">存檔</button>
    </form>

</div>