<ul class="breadcrumb">
    <i class="fa fa-home"></i>
    <li ng-repeat="b in breadcrumbs">
        <a ng-click="setBreadcrumbs(b)"><span>{{b.label}}</span></a>
    </li>
</ul>
<div class="content-wrapper" style="min-height:480px">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2" ng-repeat="e in equipments">
            <a class="{{e.color}}">
                <i class="fa fa-link" ng-click="navDevice(e)"></i>
                <p ng-click="navDevice(e)" style="width:auto;">{{e.name}}</p>
                <span class="notification1 red">{{e.alarmCount}}</span>
                <span class="notification2 blue" ng-click="setMaintainModal(e)">{{e.maintainCount}}</span>
                <span class="notification3 grey">{{e.statusCount}}</span>
            </a>
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="box main-footer">
        <div class="box-header">
            <span class="break">Alram Message</span>
            <div class="box-icon">
                <a ng-click="showHistory(1)" style="cursor:pointer;"><i class="fa fa-line-chart"></i>歷史紀錄</a>
                <a ng-click="showHistory(2)" style="cursor:pointer;"><i class="fa fa-history"></i>歷史資料</a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-sm-6">Tag名稱</th>
                        <th class="col-sm-2">告警類別</th>
                        <th class="col-sm-2">數值</th>
                        <th class="col-sm-2">告警狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in linkTags">
                        <td class="col-sm-6"><a ng-click="goChart(t.linkTagSeq)">{{t.linkTag.tagName}}</a></td>
                        <td class="col-sm-2">{{t.tObjName}}</td>
                        <td class="col-sm-2">{{t.linkTag.curfValue}}</td>
                        <td class="col-sm-2">
                            <span class="label red">{{t.curSubStaName}}</span>
                            <span class="label grey">{{t.curLinkStaName}}</span>
                            <span class="label blue">{{t.maintainName}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--歷史資料-->
<modal title="歷史資料" visible="param.modal">

    <div class="modal-header">
        <form class="form-inline">
            <div class="form-group">
                <label>起</label>
                <input type="text" class="form-control" ng-model="param.sDateTime" name="date" bs-datepicker>
            </div>
            <div class="form-group">
                <label>訖</label>
                <input type="text" class="form-control" ng-model="param.eDateTime" name="date" bs-datepicker>
            </div>

            <div class="input-group">
                <select class="form-control" ng-model="param.optionNo" ng-options="item.optionNo as item.optionName for item in eventLevels"></select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="searchEvents()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="param.itemsPerPage" />
            </div>
        </form>

    </div>


    <div class="box">
        <div class="box-header">
        </div>

        <div class="box-body table-responsive no-padding">
            <table class="table table-fixed table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">訊息時間</th>
                        <th class="col-md-3">復歸時間</th>
                        <th class="col-md-2">類別</th>
                        <th class="col-md-4">訊息名稱</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="4">

                            <div data-role="group" data-group-type="one-state">
                                <button class="button" ng-class="{disabled: param.currentPage == 0}" ng-click="prevPage()">
                                    « Prev
                                </button>

                                <button class="button" ng-repeat="n in control.pagedItems" ng-class="{active: n == param.currentPage}" ng-click="setPage(n)">
                                    {{n+1}}
                                </button>
                                <button class="button" ng-class="{disabled: (param.currentPage) == control.pagedItems.length-1}" ng-click="nextPage()">
                                    Next »
                                </button>
                            </div>

                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="e in events.eventSets">
                        <td class="col-md-3">{{ e.recTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="col-md-3">{{ e.restTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td class="col-md-2">{{e.eventName}}</td>
                        <td class="col-md-4">{{ e.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="setEvents()">確認資料</button>
        <button type="button" class="btn btn-warning" ng-click="exitModal()">離開</button>
    </div>
</modal>
<!-- 保養項目 -->
<modal title="保養項目" visible="maintain.modal">
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">請選擇保養項目 :</label>
                <div class="col-sm-5 input-group">
                    <span class="input-group-btn">
                        <select class="form-control" ng-model="maintain.optionNo" ng-options="item.optionNo as item.optionName for item in maintain.items"></select>
                        <!--<button type="button" class="btn btn-primary" ng-click="setMaintain()">
                            <i class="fa fa-check"></i>
                        </button>-->
                    </span>
                </div>
            </div>
        </form>
        {{maintain.message}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setMaintain()">確認</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="exitMaintainModal()">離開</button>
    </div>
</modal>