<ul class="breadcrumb">
    <i class="fa fa-home"></i>
    <li ng-repeat="b in breadcrumbs">
        <a ng-click="setBreadcrumbs(b)"><span>{{b.label}}</span></a>
    </li>
</ul>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2" ng-repeat="m in mainTools">
            <a class="{{m.color}}">
                <i class="fa fa-link" ng-click="navEquipment(m)"></i>
                <p>{{m.name}}</p>
                <span class="notification1 red">{{m.alarmCount}}</span>
                <span class="notification2 blue" style="text-align:center">{{m.maintainCount}}</span>
                <span class="notification3 grey">{{m.statusCount}}</span>
            </a>
            <div>&nbsp;</div>
        </div>
    </div>
    <!-- 即時監控 -->
    <div class="box">
        <div class="box-header">
            <span class="break">Alram Message</span>
            <div class="box-icon">
                <a ng-click="showHistory()" style="cursor:pointer;"><i class="fa fa-line-chart"></i>歷史資料</a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-sm-6">Tag名稱</th>
                        <th class="col-sm-2">告警類別</th>
                        <th class="col-sm-2">數值</th>
                        <th class="col-sm-2">告警狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in tagAlarms">
                        <td class="col-sm-6"><a ng-click="goChart(t.linkTagSeq)">{{t.tagName}}</a></td>
                        <td class="col-sm-2">{{t.tObjName}}</td>
                        <td class="col-sm-2">{{t.curfValue}}</td>
                        <td class="col-sm-2">
                            <span class="label red">{{t.curSubStaName}}</span>
                            <span class="label grey" ng-show="t.isCurLinkSta">{{t.curLinkStaName}}</span>
                            <span class="label blue" ng-show="t.isMaintain">{{t.maintainName}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<modal title="告警資料" visible="showModal">

    <div class="modal-header">
        <form class="form-inline">
            <div class="form-group">
                <label>起</label>
                <input type="text" class="form-control" ng-model="param.sDateTime" name="date" bs-datepicker>
            </div>
            <div class="form-group">
                <label >訖</label>
                <input type="text" class="form-control" ng-model="param.eDateTime" name="date" bs-datepicker>
            </div>

            <div class="input-group">
                <select class="form-control" ng-model="param.eventLevel" ng-options="item.optionNo as item.optionName for item in eventLevels"></select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="searchEvents()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

    </div>


    <div class="box">
        <div class="box-header">
        </div>

        <div class="box-body table-responsive no-padding">
            <table class="table table-fixed table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">訊息時間</th>
                        <th class="col-md-3">復歸時間</th>
                        <th class="col-md-1">狀態</th>
                        <th class="col-md-5">訊息名稱</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in events">
                        <td class="col-md-3">{{ e.recTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="col-md-3">{{ e.restTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td class="col-md-1">ABC</td>
                        <td class="col-md-5" ">{{ e.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="setEvents()">確認資料</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
    </div>


</modal>


















