<ul class="breadcrumb">
    <i class="fa fa-home"></i>
    <li ng-repeat="b in breadcrumbs">
        <a ng-click="setBreadcrumbs(b)"><span>{{b.label}}</span></a>
    </li>
</ul>

<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label>起始時間</label>
            <input type="text" class="form-control" ng-model="param.startDate" bs-datepicker data-autoclose="1" style="width:100px">
            <input type="text" class="form-control" size="8" ng-model="param.startDate" bs-timepicker
                   data-time-format="HH:mm" data-length="1" data-minute-step="1" style="width:100px">
        </div>
        <div class="form-group">
            <label>結束時間</label>
            <input type="text" class="form-control" ng-model="param.endDate" bs-datepicker data-autoclose="1" style="width:100px">
            <input type="text" class="form-control" size="8" ng-model="param.endDate" bs-timepicker
                   data-time-format="HH:mm" data-length="1" data-minute-step="1" style="width:100px">
        </div>

        <div class="form-group" ng-show="control.deviceSelect == true">
            <label>設備名稱</label>
            <select class="form-control" ng-model="link.linkSubSeq"
                    ng-options="item.linkSubSeq as item.linkDevName for item in linkDevices"
                    ng-change="changLink(link)" style="width:200px"></select>
        </div>
        <label>偵測項目</label>
        <dropdown-multiselect model="param.selection" options="linkTags"></dropdown-multiselect>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click="getTagHistories()">查詢</button>
        </div>

    </form>
    <div class="loader" ng-show="control.loading == true"></div>
</div>

<hr />
<div class="row" style="margin-top:25px">
    <flot dataset="dataset" options="options" height="480px"></flot>
    <nav>
        <ul class="pager">
            <li>
                <a ng-click="setTime(-1)">往前</a>
            </li>
            <li><a ng-click="setTime(1)">往後</a></li>
        </ul>
    </nav>
</div>



