<div class="row">
    <div class="col-md-3">
        <div data-angular-treeview="true"
             data-tree-id="group"
             data-tree-model="treedata"
             data-node-id="id"
             data-node-label="label"
             data-node-children="children">
        </div>
    </div>
    <!-- 顯示 MailTool-->
    <div class="col-md-9" ng-model="isET">
        <div class="col-md-4 list-group" ng-repeat="o in linkGroups">
            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ o.name }}</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" ng-show="isET == 'ET'" ng-click="navDataMap()"><i class="fa fa-bell-o"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#" ng-repeat="tag in o.tags">
                                <i class="fa fa-circle-o text-light-blue"></i>
                                {{tag.name}}
                                <span ng-class="tag.color">{{tag.value}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
