<ul class="breadcrumb">
    <i class="fa fa-home"></i>
    <li ng-repeat="b in breadcrumbs">
        <a ng-click="setBreadcrumbs(b)"><span>{{b.label}}</span></a>
    </li>
</ul>


<div class="content-wrapper" style="min-height:480px">
    <div class="row">
        <div class="box box-info">

            <div class="box-body" style="overflow:auto;">
                <canvas id="playCanvas" width="1300" height="800"></canvas>
            </div>
        </div>

    </div>

</div>

<footer class="main-footer">
    <div class="box">
        <div class="box-header">
            <i class="halflings-icon white align-justify"></i><span class="break"></span>Alram Message
            <div class="box-icon">
                <a ng-click="showHistory()" style="cursor:pointer;"><i class="fa fa-line-chart"></i>歷史資料</a>
            </div>
        </div>
        <div class="box-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>群組編號</th>
                        <th>Tag名稱</th>
                        <th>告警類別</th>
                        <th>告警狀態</th>
                        <th>是否離線</th>
                        <th>是否保養</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in tagAlarms">
                        <td>{{t.groupId}}</td>
                        <td class="center"><a ng-click="goChart(t.linkTagSeq)">{{t.tagName}}</a></td>
                        <td class="center">{{t.tObjName}}</td>
                        <td class="center">
                            <span class="label red">{{t.curSubStaName}}</span>
                        </td>
                        <td class="center">
                            <span class="label grey">{{t.curLinkStaName}}</span>
                        </td>
                        <td>
                            <span class="label blue">{{t.maintainName}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</footer>

<modal title="歷史訊息" visible="showModal">
    <flot dataset="dataset" options="options" height="480px"></flot>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" ng-click="goChart()">詳細資料</button>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
    </div>
</modal>



<modal title="告警資料" visible="showEventModal">
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>序號</th>
                    <th>訊息時間</th>
                    <th>復歸時間</th>
                    <th>訊息名稱</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in events">
                    <td>{{ e.linkTagSeq }}</td>
                    <td>{{ e.recTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{ e.restTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ e.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="setEvents()">確認資料</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
    </div>
</modal>