<ul class="breadcrumb">
    <i class="fa fa-home"></i>
    <li ng-repeat="b in breadcrumbs">
        <a ng-click="setBreadcrumbs(b)"><span>{{b.label}}</span></a>
    </li>
</ul>


<div class="content-wrapper" style="min-height:480px">
    <div class="row">
        <div class="box box-info">

            <div class="box-body fixed" style="overflow:auto;">
                <canvas id="playCanvas" width="1300" height="800"></canvas>
            </div>
        </div>

    </div>
    <div class="box main-footer">
        <div class="box-header">
            <span class="break">Alram Message</span>
            <div class="box-icon">

                <a ng-click="showHistory(1)" style="cursor:pointer;"><i class="fa fa-line-chart"></i>歷史紀錄</a>
                <a ng-click="showHistory(2)" style="cursor:pointer;"><i class="fa fa-history"></i>歷史資料</a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-sm-6">Tag名稱</th>
                        <th class="col-sm-2">告警類別</th>
                        <th class="col-sm-2">數值</th>
                        <th class="col-sm-2">告警狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in linkTags">
                        <td class="col-sm-6"><a ng-click="goChart(t.linkTag.linkTagSeq)">{{t.linkTag.tagName}}</a></td>
                        <td class="col-sm-2">{{t.tObjName}}</td>
                        <td class="col-sm-2">{{t.linkTag.curfValue}}</td>
                        <td class="col-sm-2">
                            <span class="label red">{{t.curSubStaName}}</span>
                            <span class="label grey">{{t.curLinkStaName}}</span>
                            <span class="label blue">{{t.maintainName}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<modal title="歷史訊息" visible="showModal">
    <div class="modal-header">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{param.typeName}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="setTime(1)">日</a></li>
                        <li><a ng-click="setTime(2)">時</a></li>
                        <li><a ng-click="setTime(3)">分</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" ng-model="param.typeValue" style="width:100px">
                <input type="button" class="btn btn-success" ng-click="getTagHistory(false)" value="查詢" />

            </div>
        </div>
        </div>

        <flot dataset="dataset" options="options" height="480px"></flot>

        
        <div class="modal-footer">

            <button type="button" class="btn btn-primary" data-dismiss="modal">離開</button>
        </div>


</modal>

<!--歷史資料-->
<modal title="歷史資料" visible="param.modal">

    <div class="modal-header">
        <form class="form-inline">
            <div class="form-group">
                <label>起</label>
                <input type="text" class="form-control" ng-model="param.sDateTime" name="date" bs-datepicker>
            </div>
            <div class="form-group">
                <label>訖</label>
                <input type="text" class="form-control" ng-model="param.eDateTime" name="date" bs-datepicker>
            </div>

            <div class="input-group">
                <select class="form-control" ng-model="param.optionNo" ng-options="item.optionNo as item.optionName for item in eventLevels"></select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="searchEvents()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="form-group">
                <label>每頁顯示</label>
                <input type="text" class="form-control" ng-model="param.itemsPerPage" style="width:50px" />
            </div>
        </form>

    </div>


    <div class="box">
        <div class="box-header">
        </div>

        <div class="box-body table-responsive no-padding">
            <table class="table table-fixed table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">訊息時間</th>
                        <th class="col-md-3">復歸時間</th>
                        <th class="col-md-2">類別</th>
                        <th class="col-md-4">訊息名稱</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="4">

   
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a aria-label="Previous" ng-class="{disabled: param.currentPage == 0}" ng-click="prevPage()">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li ng-repeat="n in control.pagedItems" ng-class="{active: n == param.currentPage}">
                                        <a ng-click="setPage(n)">{{n+1}}</a>
                              
                                    </li>
                                    <li>
                                        <a aria-label="Next" ng-class="{disabled: (param.currentPage) == control.pagedItems.length-1}" ng-click="nextPage()">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="e in events.eventSets">
                        <td class="col-md-3">{{ e.recTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="col-md-3">{{ e.restTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td class="col-md-2">{{e.eventName}}</td>
                        <td class="col-md-4">{{ e.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <!--<button type="button" class="btn btn-success" ng-click="setEvents()">確認資料</button>-->
        <button type="button" class="btn btn-warning" ng-click="exitModal()">離開</button>
    </div>
</modal>
